
 
  
  /* input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid #4f4747;
    border-top: 20px;
  } */
 
   
   
   
  .lg1 {
    background-color: #44364e;
    color: #d1c5c5;
    padding: 10px 25px;
    width: 100%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .lg1:hover {
    background-color: #21151f;
  }
  
  .lg1, input {
    font-size: 16px;
  }

  .inp1{
    width: 345px;
    padding: 10px 25px;
  }
  
