.search-student{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px; 
  }

.search-student h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  
.search-student-form {
    margin-top: 30px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

.search-student-form button{
    margin:30px;
    color: white;
    background-color: #2c1e33;
    height: 30px;
    width: 75px;
    margin-left: 64px;
    margin-top: -3px ; 

    border-radius: 7px;
    
}
  
/* .search-student-result {
    margin-top: 20px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  } */
.hd4{
    /* margin-left: 116px; */
    margin-top: 13px;

}

.cont{
    margin-left: 22px;
    margin-top: 14px;
}

